.colorform {
    background-color: rgba(221, 98, 119, 0.562);
    width: 70%;
    margin: 0 auto;
    height: 700px;
    font-family: 'Akaya Telivigala', cursive ;
}

.boton{
    height: 30px;
    width: 200px;
    margin: 0 38% ;
}
