<!-- Titulo -->
<article class="title" id="Inicio">
<h1>Pazafira</h1>
</article>


 
  <!-- Formulario -->
    <div>
  <form class="container colorform" [formGroup]="createUserForm" (ngSubmit)= "sendData()">
 
    <div class="form-group" style="font-family: 'Akaya Telivigala', cursive" >
        <label for="CompleteName">Nombre completo</label>
        <input type="text" class="form-control" id="CompleteName"  placeholder="Escribe tu nombre" formControlName="CompleteName" >
      </div>
      <div class="form-group" style="font-family: 'Akaya Telivigala', cursive">
        <label for="Email">Correo electronico</label>
        <input type="email" class="form-control" id="Email" placeholder="name@example.com" formControlName="Email">
      </div>
      <div class="form-group" style="font-family: 'Akaya Telivigala', cursive">
        <label for="PhoneNumber">Celular</label>
        <input type="number" class="form-control" id="PhoneNumber" placeholder="Escribe tu celular" formControlName="PhoneNumber">
      </div>
      <div class="form-group" style="font-family: 'Akaya Telivigala', cursive">
        <label for="ProductName">Escoge tu producto</label>
        <select class="form-control" id="ProductName" formControlName="ProductName">
          <option value="Pocillo">Pocillo</option>
          <option value="Botella">Botella</option>
        </select>
      </div>

      <!-- <div class="form-group" style="font-family: 'Akaya Telivigala', cursive">
        <label for="chooseQuote">Escoge tu frase</label>
        <select multiple class="form-control" id="chooseQuote" formControlName="chooseQuote">
          <option value="Tus ojos brillan como estrellas">Tus ojos brillan como estrellas</option>
          <option value="Margaritas y una botella de vino, ahí comienza mi triste historia">Margaritas y una botella de vino, ahí comienza mi triste historia</option>
          <option value="Ni si quiera la luz de la luna es tan brillante como tu ">Ni si quiera la luz de la luna es tan brillante como tu </option>
        </select> -->

        <div class="form-group" style="font-family: 'Akaya Telivigala', cursive">
          <label for="chooseQuote">Escoge tu frase</label>
          <select class="form-control" id="chooseQuote" formControlName="chooseQuote">
            <option value="Tus ojos brillan como estrellas">Tus ojos brillan como estrellas</option>
          <option value="Margaritas y una botella de vino, ahí comienza mi triste historia">Margaritas y una botella de vino, ahí comienza mi triste historia</option>
          <option value="Ni si quiera la luz de la luna es tan brillante como tu ">Ni si quiera la luz de la luna es tan brillante como tu </option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="writeQuote">Escribe tu propia frase si no deseas ninguna de las anteriores</label>
        <textarea class="form-control" id="writeQuote" formControlName="writeQuote" rows="3"></textarea>
      </div>
      <button id="reload" class="boton">Enviar</button>
    </form>
    
    <br> <br>